@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 228 4% 14%;
    --foreground: 0 0% 98%;
    --card: 227 4% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 227 4% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 242 89% 64%;
    --primary-foreground: 0 0% 98%;
    --secondary: 227 4% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 227 4% 18%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 242 89% 64%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 227 4% 18%;
    --input: 227 4% 18%;
    --ring: 242 89% 64%;
    --radius: 0.5rem;

    /* Status Colors */
    --status-red: 0 100% 64%;
    --status-blue: 220 96% 61%;
    --status-green: 162 100% 36%;

    /* Sidebar specific colors */
    --sidebar-background: 230 7% 8%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-muted: 227 4% 18%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
